.idea/
# IDE
.vscode/
app/.DS_STORE
.DS_STORE
.DS_Store
app/.DS_Store
/coverage/
# Vendor
/vendor/
vendor
*.iml
.idea
# Logs
/app/logs/*
/app/var/*
app/vendor/*
app/var/logs
!/app/logs/README.md
/app/vendor
# Cache
/var/cache/*
.phpunit.result.cache
cache.properties
.php_cs.cache
# Composer
composer.phar
composer.lock
app/vendor/